div.cartes .legend .content {
     font-weight: normal;
     padding: 0 0 1em 0;
     font: 14px 'Verdana', Monaco, monospace;
}

.legend table {
    width: 100%
}

.legende::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    opacity: .8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.legend .nuance::before {
    content: '';
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    left: 0;
    background-color: inherit
}

.legend .nuance {
    position: relative;
    margin-right: 1.5em;
    height: 1em;
    width: 0;
    float: left
}

.legend .header::before {
    content: "";
    display: block;
    position: absolute;
    background: black;
    opacity: .5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.legend .header {
    position: relative;
    color: #eeeeec;
    padding: 5px 10px;
}

.results .nom {
    position: relative;
    color: white;
    font-weight: bolder
}

.results .close {
    float: right;
    position: relative;
    cursor: pointer;
    background: url('../img/close.png');
    width: 16px;
    height: 16px;
    margin-left: 15px;
}

.results table {
    padding: 5px 5px
}

.results table:last-child {
    padding-bottom: 0;
}

.results td {
    line-height: 1.2em
}

ul.photon-autocomplete {
    position: absolute;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 9px #999999;
    display: none;
    padding-left: 0;
    font: 14px 'Verdana', Monaco, monospace;
}
.photon-autocomplete li {
    min-height: 20px;
    line-height: 1em;
    padding: 5px 10px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1em;
}
.photon-autocomplete li strong {
    display: block;
}
.photon-autocomplete li.on {
    background-color: #cccccc;
    cursor: pointer;
}
.photon-autocomplete li.photon-no-result {
    text-align: center;
    color: #666;
    font-size: 0.9em;
    line-height: 40px;
}
.photon-autocomplete .photon-feedback {
    display: block;
    text-align: right;
    font-size: 0.8em;
    padding: 3px;
    color: #999;
    border-top: 1px solid #eee;
}
.photon-input:focus {
    width: 300px;
}
.photon-input {
    min-width: 170px;
}
